/* Syntax highlighting ---------------------------------------------------- */

pre {
  word-wrap: normal;
  word-break: normal;
  border: 1px solid #eee;
}

pre, code {
  background-color: #f8f8f8;
  color: #333;
}

pre .img {
  margin: 5px 0;
}

pre .img img {
  background-color: #fff;
  display: block;
  height: auto;
}

code a, pre a {
  color: blue;
}

.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }

.fl      {color: blue;}
.fu      {color: blue;} /* function */
.ch,.st  {color: orange;} /* string */
.kw      {color: black;} /* keyword */
.co      {color: green;} /* comment */

.message { color: gray;   font-weight: bolder;}
.error   { color: red;  font-weight: bolder;}
.warning { color: purple; font-weight: bolder;}
